body {
    background-color: #fff !important;
}

.top {
    width: 100%;
    height: 105px;
}

.top div {
    width: 80%;
    margin: 0 auto;
    line-height: 105px;
    font-size: 36px;
    font-weight: 700;
    color: #7ea800;
}

.content {
    width: 100%;
    height: 513px;
    background: url(../img/bg.png) repeat-x;
}

@media screen and (max-width: 1366px) {
    .login {
        width: 80%;
        margin: 0 auto;
        background: url(../img/bg1.png) 10% 40% no-repeat;
        height: 513px;
    }

    .loginBox {
        width: 340px;
        height: 310px;
        box-shadow: -5px 5px 5px #E5E7E8;
        background-color: #fff;
        margin-top: 5%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 1800px) and ( min-width: 1599px) {
    .login {
        width: 80%;
        margin: 0 auto;
        background: url(../img/bg1.png) 18% 40% no-repeat;
        height: 513px;
    }

    .loginBox {
        width: 340px;
        height: 310px;
        box-shadow: -5px 5px 5px #E5E7E8;
        background-color: #fff;
        margin-top: 5%;
        margin-right: 13%;
    }
}

@media screen and ( min-width: 1920px) {
    .login {
        width: 80%;
        margin: 0 auto;
        background: url(../img/bg1.png) 40% 40% no-repeat;
        height: 513px;
    }

    .loginBox {
        width: 340px;
        height: 310px;
        box-shadow: -5px 5px 5px #E5E7E8;
        background-color: #fff;
        margin-top: 5%;
        margin-right: 13%;
    }
}

.loginBox div {
    width: 270px;
    margin: 0 auto;
}

.loginBox .title {
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #7ea800;
}

.loginBox .userAndPassword {
    border: 1px solid #D4D4D4;
    margin-bottom: 20px;
}

.loginBox .userAndPassword span {
    display: inline-block;
    height: 34px;
}

.loginBox .userAndPassword input {
    height: 34px;
    border: none;
    width: 235px;
    text-indent: 10px;
}

.remember input {
    width: 12px;
    height: 12px;
}

.entry span {
    display: inline-block;
    width: 265px;
    height: 33px;
    color: #fff;
    background-color: #7CA710;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}



