<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<#assign baseUrl=request.contextPath />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>API框架</title>
    <link rel="stylesheet" type="text/css" href="${baseUrl}/css/basic.css">
    <link rel="stylesheet" type="text/css" href="${baseUrl}/css/index.css">
    <link rel="stylesheet" type="text/css" href="${baseUrl}/css/topAndBottom.css">
</head>
<body>
<div class="content_left">
    <ul class="lv1-ul">

        <li class="lv1-li">
            <a target="rightFrame" href="${baseUrl}/web/persons"><span>用户</span></a>
        </li>
    </ul>
</div>
</body>
</html>
