<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>日志</title>

    <style type="text/css">

        div {
            width: 98%;
            text-align: center;
        }

        table {
            width: 98%;
            border: 1px solid #F4F4F4;
            border-radius: 5px;
            border-collapse: collapse;
            margin: 0 auto;
        }

        tr, th, td {
            border: 1px solid #F4F4F4;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr style="background-color: #2F75B5;color: white;">
        <th>序号</th>
        <th>日志文件</th>
    </tr>
    </thead>
    <tbody>
    <#list files as file>
        <tr>
            <td>#{file_index + 1}</td>
            <td style="text-align: left;">
                <a style="text-decoration: none; font-size: 25px;" target="_blank" href="content?path=${file['url']}">${file["name"]}</a>
            </td>
        </tr>
    </#list>
    </tbody>
</table>
</body>
</html>