<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<#assign baseUrl=request.contextPath />
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <link rel="stylesheet" type="text/css" href="${baseUrl}/css/basic.css">
    <link rel="stylesheet" type="text/css" href="${baseUrl}/css/login.css">
    <link rel="stylesheet" type="text/css" href="${baseUrl}/css/topAndBottom.css">
</head>
<body>
<div class="top" style="width:70%;margin-left: 300px;margin-top: 100px;">
    <div>欢迎使用API框架</div>
</div>
</body>
</html>